/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
public/css/app.css
public/js/app.js
public/mix-manifest.json
.editorconfig
.styleci.yml
public/css/main.css

/.idea

*.zip

.scannerwork/

ngrok.exe
.ngrok.exe.old

#test
/resources/views/livewire/test/*
/app/Http/Livewire/Test/*

# Archivos de respaldo temporales de editores
*~
*.swp
*.swo
*.bak
*.tmp

